<section class="order" id="order">
<div class="container">
  <img src="images/order-car.png" alt="Order car" />
  <form [formGroup]="orderForm">
    <h3>Забронируйте автомобиль</h3>
    <p>
      Заполните контактные данные, и мы перезвоним вам для обсуждения деталей
      и подтверждения бронирования
    </p>
    <div class="order-form">
      <input
        type="text"
        placeholder="Автомобиль"
        required
        readonly
        id="car"
        formControlName="car"
      />
      <input
        type="text"
        placeholder="Ваше имя"
        required
        id="name"
        formControlName="name"
        [class.error]="isError('name')"
      />
      <input
        type="text"
        placeholder="Ваш телефон"
        required
        id="phone"
        minlength="10"
        formControlName="phone"
        [class.error]="isError('phone')"
      />
      <button
        class="button"
        type="button"
        required
        [disabled]="!orderForm.valid"
        id="order-action"
        (click)="sendOrder()"
      >
        Забронировать
      </button>
    </div>
  </form>
</div>
</section>